/* GENERAL */

body {
    font-family: 'Roboto', sans-serif;

    --c1: rgb(152, 181, 233);
    --c2: rgb(34, 29, 66);
    --c3: rgb(234, 240, 255);
    --c4: rgb(255, 255, 255);
    --c5: rgb(1, 81, 230);

    background-color: var(--c3);
}

h1, h2, h3, h4, label {
    font-family: 'Noto Sans SC', sans-serif;
    text-transform: uppercase;
}

h2, label {
    color: var(--c2);
}

h2, h3, h4, p {
    margin: 5px;
}

h2, h3, h4 {
    font-size: 1.5rem;
}

a {
    color: var(--c5);
    text-decoration: none;
}

a:visited {
    color: var(--c5);
}

a:hover {
    text-decoration: underline;
}

label {
    font-weight: bold;
    font-size: 1.1rem;
    margin-left: 5px;
}

button {
    background-color: var(--c2);
    font-size: 1.2rem;
    border-style: none;
    color: white;
    margin: 2px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.load {
    margin: auto;
}

.scrollable {
    margin: 0 !important;
    padding: 0 !important;
    overflow-y: auto;
}

table {
    width: 100%;
    table-layout: fixed;
}

tr:nth-child(even) {
    background-color: var(--c3);
}

td {
    padding: 5px;
}

/* HEADER & CREDITS*/

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--c2);
    height: 50px;
    padding: 10px;
    padding-left: 5px;
    color: white;
}

header h1 {
    margin-left: 20px;
    font-size: 2rem;
    text-transform: uppercase;
}

header div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 55px;
    border: white 1px solid;
    cursor: pointer;
}

header div p {
    font-size: 0.8rem;
}

#credits {
    display: none;
    position: absolute;
    width: fit-content;
    background-color: var(--c4);
    padding: 20px;
    box-shadow: 5px 5px 30px var(--c2);
}

#credits h3 {
    font-size: 1.2rem;
    color: var(--c2);
}

#credits ul {
    list-style: square;
    margin-left: 20px;
}

/* VIEWS */

.view {
    display: grid;
    grid-gap: 10px;

    /*  Height calculation referenced from: 
        https://www.whitebyte.info/programming/css/how-to-make-a-div-take-the-remaining-height
        Accessed Feb 27, 20201
        Solution 4, though I used 100vh instead of 100% */
    height: calc(100vh - 70px);
}

#default_view {
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 2fr 2fr 1fr;
}

.view div {
    background-color: var(--c4);
    padding: 15px;
}

#default_view div .data {
    flex-grow: 2;
}



/* WELCOME */
#welcome {
    grid-row: 1/4;
    grid-column: 2/4;
    display: flex;
}

#welcome div {
    margin: auto;
    font-size: x-large;
}

/* COMPANY LIST */

#list {
    background-color: var(--c1) !important; 
    grid-row: 1/4;
    display: flex;
    flex-direction: column;

}

#list h2 {
    text-align: center;
    display: none;
}

#search {
    background-color: var(--c1) !important; 
    display: none;
    flex-direction: row;
    padding: 0 !important;
    margin: 0 0 5px 0;
}

#search label {
    margin: auto 5px auto 0px;
}

#target {
    flex-grow: 3;
    border-style: none;
    margin: 3px;
    background-color: var(--c4);
}

#list ul {
    display: none;
    list-style: none;
    overflow-y: auto;
}

#list ul li {
    background-color: var(--c3);
    padding: 8px;
    border-color: var(--c1);
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    cursor: pointer;
}

#list ul li:hover {
    background-color: var(--c4);
}

/* COMPANY INFO */

#card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 0px 0px 0px !important;
}

#logo {
    max-height: 230px;
    width: 40%;
    display: flex;
    flex-grow: 2;
    background-color: var(--c3) !important;
    border-radius: 10px;
    padding: 0 !important;
    margin-right: 5px;
}

#logo img {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    margin: auto;
}

#info {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-bottom: 0;
}

#info h3, #info h4, #info a {
    grid-column: 1/3;
}

#info a {
    margin: 0px 5px 5px 5px;
}

#desc {
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

#description {
    margin-top: auto !important;
    padding: 10px;
}

#map {
    display: none;
    grid-row: 2/4;
    height: 100% - 50px;
    padding: 0 !important;
}

#map div {
    padding: 0 !important;
    background: none;
}

/* STOCK TABLE */
#stock_data {
    grid-row: 1/4;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

#stock_data table thead tr td label{
    cursor: pointer;
}

#data_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 !important;
}

#stock_table {
    overflow-y: auto;
}

#summary_table {
    border-top-style: solid;
    border-color: var(--c1);
    border-width: 5px;
}

#stock_spinner, #stock_error {
    grid-row: 1/4;
    display: none;
}

/* CHART VIEW */

#chart_view {
    display: none;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 2fr;
}

#charts {
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#chart_desc {
    display: flex;
    flex-direction: column;
}

#chart_desc div {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#chart_desc p {
    margin-top: 10px;
}

.chart_btn {
    width: 120px;
}

#speech {
    margin: auto;
    padding: 10px;
}

#financials {
    display: flex;
    flex-direction: column;
}

#financials div {
    display: none;
    margin: auto;
}

#charts div:nth-child(3) {
    grid-column: 1/3;
}

#summary_chart {
    width: 600px;
    height: 250px;
}